<h1 class="hide-print app-title">Puntentelling</h1>

<header class="hide-print toolbar">
    <div class="toolbar-field">
        <label for="playerCount">Aantal deelnemers</label>
        <input id="playerCount" type="number" [(ngModel)]="numberOfPlayersWanted" (ngModelChange)="setPlayers(); calculateResults()">
    </div>
    <div class="toolbar-actions">
        <button class="btn btn-primary" (click)="saveData()">Opslaan</button>
        <button class="btn" (click)="downloadData()">Downloaden</button>
        <button class="btn" (click)="print()">Afdrukken</button>
        <button class="btn btn-danger" (click)="reset()">Opnieuw starten</button>
    </div>
    <div class="toolbar-field">
        <label for="importFile">Importeren</label>
        <input id="importFile" (change)="importData($event)" type="file">
    </div>
</header>

<div class="hide-print table-card table-scroll-x">
<table class="price-table">
    <thead>
    <tr>
        <th [colSpan]="1"></th>
        <th [colSpan]="8">Onderzang</th>
        <th [colSpan]="7">Overzang</th>
    </tr>
    <tr>
        <th></th>
        <th>VPL</th>
        <th>Per 5</th>
        <th>VW</th>
        <th>0</th>
        <th>-1</th>
        <th>-2</th>
        <th>-3</th>
        <th>Buffet</th>
        <th>Vpl</th>
        <th>Per 5</th>
        <th>VW</th>
        <th>+1</th>
        <th>+2</th>
        <th>+3</th>
        <th>Buffet</th>
    </tr>
    </thead>
    <tbody>
        <tr class="price-input">
            <td>Prijzen</td>
            <td><input type="number" [(ngModel)]="prices.underVpl" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="prices.underPerFive" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="prices.underVw" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="prices.underZero" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="prices.underMinusOne" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="prices.underMinusTwo" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="prices.underMinusThree" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="prices.underBuffet" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="prices.overVpl" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="prices.overPerFive" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="prices.overVw" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="prices.overPlusOne" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="prices.overPlusTwo" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="prices.overPlusThree" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="prices.overBuffet" (ngModelChange)="calculateResults()"></td>
        </tr>
        <tr class="price-input">
            <td>Tax</td>
            <td><input type="number" [(ngModel)]="tax.underVpl" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="tax.underPerFive" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="tax.underVw" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="tax.underZero" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="tax.underMinusOne" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="tax.underMinusTwo" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="tax.underMinusThree" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="tax.underBuffet" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="tax.overVpl" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="tax.overPerFive" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="tax.overVw" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="tax.overPlusOne" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="tax.overPlusTwo" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="tax.overPlusThree" (ngModelChange)="calculateResults()"></td>
            <td><input type="number" [(ngModel)]="tax.overBuffet" (ngModelChange)="calculateResults()"></td>
        </tr>
    </tbody>
</table>
</div>

<div class="tableFixHead table-card">
<table class="page">
    <thead>
    <tr>
        <th [colSpan]="3"></th>
        <th [colSpan]="8">Onderzang</th>
        <th [colSpan]="7">Overzang</th>
        <th></th>
        <th [colSpan]="2">Zang</th>
    </tr>
    <tr>
        <th></th>
        <th>Loge</th>
        <th>Naam</th>
        <th>VPL<br>€{{money(prices.underVpl)}}</th>
        <th>Per 5<br>€{{money(prices.underPerFive)}}</th>
        <th>VW<br>€{{money(prices.underVw)}}</th>
        <th>0<br>€{{money(prices.underZero)}}</th>
        <th>-1<br>€{{money(prices.underMinusOne)}}</th>
        <th>-2<br>€{{money(prices.underMinusTwo)}}</th>
        <th>-3<br>€{{money(prices.underMinusThree)}}</th>
        <th>Buffet<br>€{{money(prices.underBuffet)}}</th>
        <th>Vpl<br>€{{money(prices.overVpl)}}</th>
        <th>Per 5<br>€{{money(prices.overPerFive)}}</th>
        <th>VW<br>€{{money(prices.overVw)}}</th>
        <th>+1<br>€{{money(prices.overPlusOne)}}</th>
        <th>+2<br>€{{money(prices.overPlusTwo)}}</th>
        <th>+3<br>€{{money(prices.overPlusThree)}}</th>
        <th>Buffet<br>€{{money(prices.overBuffet)}}</th>
        <th>Totaal</th>
        <th>Doel</th>
        <th>Resultaat</th>
    </tr>
    </thead>
    <tbody>
        @for (player of players; track $index) {
    <tr [class.selected]="selectedPlayerId === player.id" (click)="selectedPlayerId = player.id">
        <td>
            @if (selectedPlayerId === player.id) {
                &#8594;
            }
        </td>
        <td>{{player.id}}</td>
        <td>
            <div class="name-field">
                <input [(ngModel)]="player.name" (ngModelChange)="calculateResults()">
                @if (player.id > 1) {
                <button class="btn-icon hide-print" type="button" title="Kopieer naam van vorige rij" (click)="copyPreviousName(player)">&#8593;</button>
                }
            </div>
        </td>
        <td><input type="checkbox" [(ngModel)]="player.underVpl" (ngModelChange)="calculateResults()" /></td>
        <td><input type="checkbox" [(ngModel)]="player.underPerFive" (ngModelChange)="calculateResults()" /></td>
        <td><input type="checkbox" [(ngModel)]="player.underVw" (ngModelChange)="calculateResults()" /></td>
        <td><input type="checkbox" [(ngModel)]="player.underZero" (ngModelChange)="calculateResults()" /></td>
        <td><input type="checkbox" [(ngModel)]="player.underMinusOne" (ngModelChange)="calculateResults()" /></td>
        <td><input type="checkbox" [(ngModel)]="player.underMinusTwo" (ngModelChange)="calculateResults()" /></td>
        <td><input type="checkbox" [(ngModel)]="player.underMinusThree" (ngModelChange)="calculateResults()" /></td>
        <td><input type="checkbox" [(ngModel)]="player.underBuffet" (ngModelChange)="calculateResults()" /></td>
        <td><input type="checkbox" [(ngModel)]="player.overVpl" (ngModelChange)="calculateResults()" /></td>
        <td><input type="checkbox" [(ngModel)]="player.overPerFive" (ngModelChange)="calculateResults()" /></td>
        <td><input type="checkbox" [(ngModel)]="player.overVw" (ngModelChange)="calculateResults()" /></td>
        <td><input type="checkbox" [(ngModel)]="player.overPlusOne" (ngModelChange)="calculateResults()" /></td>
        <td><input type="checkbox" [(ngModel)]="player.overPlusTwo" (ngModelChange)="calculateResults()" /></td>
        <td><input type="checkbox" [(ngModel)]="player.overPlusThree" (ngModelChange)="calculateResults()" /></td>
        <td><input type="checkbox" [(ngModel)]="player.overBuffet" (ngModelChange)="calculateResults()" /></td>
        <td>€{{money(getTotalAmount(player))}}</td>
        <td>
            <input class="small" type="number" [(ngModel)]="player.goal" (ngModelChange)="calculateResults()">
        </td>
        <td>
            <input min="0" class="small" type="number" [(ngModel)]="player.result" (ngModelChange)="calculateResults()">
            (
                @if (player.result - player.goal > 0) {
                    <span>+</span>
                }
                {{player.result - player.goal}}
            )
        </td>
    </tr>
}
    </tbody>
    <tfoot>
        <tr>
        <th [colSpan]="3">Totaal</th>
        <th>€{{money(totals.underVpl)}}<br>€{{money(totalsTaxed.underVpl)}}</th>
        <th>€{{money(totals.underPerFive)}}<br>€{{money(totalsTaxed.underPerFive)}}</th>
        <th>€{{money(totals.underVw)}}<br>€{{money(totalsTaxed.underVw)}}</th>
        <th>€{{money(totals.underZero)}}<br>€{{money(totalsTaxed.underZero)}}</th>
        <th>€{{money(totals.underMinusOne)}}<br>€{{money(totalsTaxed.underMinusOne)}}</th>
        <th>€{{money(totals.underMinusTwo)}}<br>€{{money(totalsTaxed.underMinusTwo)}}</th>
        <th>€{{money(totals.underMinusThree)}}<br>€{{money(totalsTaxed.underMinusThree)}}</th>
        <th>€{{money(totals.underBuffet)}}<br>€{{money(totalsTaxed.underBuffet)}}</th>
        <th>€{{money(totals.overVpl)}}<br>€{{money(totalsTaxed.overVpl)}}</th>
        <th>€{{money(totals.overPerFive)}}<br>€{{money(totalsTaxed.overPerFive)}}</th>
        <th>€{{money(totals.overVw)}}<br>€{{money(totalsTaxed.overVw)}}</th>
        <th>€{{money(totals.overPlusOne)}}<br>€{{money(totalsTaxed.overPlusOne)}}</th>
        <th>€{{money(totals.overPlusTwo)}}<br>€{{money(totalsTaxed.overPlusTwo)}}</th>
        <th>€{{money(totals.overPlusThree)}}<br>€{{money(totalsTaxed.overPlusThree)}}</th>
        <th>€{{money(totals.overBuffet)}}<br>€{{money(totalsTaxed.overBuffet)}}</th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
    </tfoot>
</table>
</div>

<div class="table-card">
<table class="page summary-table">
    <thead>
        <tr>
            <th [colSpan]="12">Onderzang</th>
        </tr>
    </thead>
    <tr>
        <th>Res.</th>
        <th>Loge</th>
        <th>Naam</th>
        <th>VPL<br>€{{money(prices.underVpl)}}</th>
        <th>Per 5<br>€{{money(prices.underPerFive)}}</th>
        <th>VW<br>€{{money(prices.underVw)}}</th>
        <th>0<br>€{{money(prices.underZero)}}</th>
        <th>-1<br>€{{money(prices.underMinusOne)}}</th>
        <th>-2<br>€{{money(prices.underMinusTwo)}}</th>
        <th>-3<br>€{{money(prices.underMinusThree)}}</th>
        <th>Buffet<br>€{{money(prices.underBuffet)}}</th>
        <th>Totaal</th>
    </tr>
    @for (result of underResults; track $index) {
    <tr class="center">
        <td>
            @if (result.player.result - result.player.goal > 0) {
                <span>+</span>
            }
            {{result.player.result - result.player.goal}}</td>
        <td>{{result.player.id}}</td>
        <td>{{result.player.name}}</td>
        <td>
            @if (result.underVpl > 0) {
                €{{money(result.underVpl * (1 - tax.underVpl))}}
            }
        </td>
        <td>
            @if (result.underPerFive > 0) {
                €{{money(result.underPerFive * (1 - tax.underPerFive))}}
            }
        </td>
        <td>
            @if (result.underVw > 0) {
                €{{money(result.underVw * (1 - tax.underVw))}}
            }
        </td>
        <td>
            @if (result.underZero > 0) {
                €{{money(result.underZero * (1 - tax.underZero))}}
            }
        </td>
        <td>
            @if (result.underMinusOne > 0) {
                €{{money(result.underMinusOne * (1 - tax.underMinusOne))}}
            }
        </td>
        <td>
            @if (result.underMinusTwo > 0) {
                €{{money(result.underMinusTwo * (1 - tax.underMinusTwo))}}
            }
        </td>
        <td>
            @if (result.underMinusThree > 0) {
                €{{money(result.underMinusThree * (1 - tax.underMinusThree))}}
            }
        </td>
        <td>
            @if (result.underBuffet > 0) {
                €{{money(result.underBuffet * (1 - tax.underBuffet))}}
            }
        </td>
        <td>{{getResultTotal(result)}}</td>
    </tr>
}
</table>
</div>

<div class="table-card">
<table class="page summary-table">
    <thead>
        <tr>
            <th [colSpan]="11">Overzang</th>
        </tr>
    </thead>
    <tr>
        <th>Res.</th>
        <th>Loge</th>
        <th>Naam</th>
        <th>VPL<br>€{{money(prices.overVpl)}}</th>
        <th>Per 5<br>€{{money(prices.overPerFive)}}</th>
        <th>VW<br>€{{money(prices.overVw)}}</th>
        <th>+1<br>€{{money(prices.overPlusOne)}}</th>
        <th>+2<br>€{{money(prices.overPlusTwo)}}</th>
        <th>+3<br>€{{money(prices.overPlusThree)}}</th>
        <th>Buffet<br>€{{money(prices.overBuffet)}}</th>
        <th>Totaal</th>
    </tr>
    @for (result of overResults; track $index) {
    <tr class="center">
        <td>
            @if (result.player.result - result.player.goal > 0) {
                <span>+</span>
            }
            {{result.player.result - result.player.goal}}</td>
        <td>{{result.player.id}}</td>
        <td>{{result.player.name}}</td>
        <td>
            @if (result.overVpl > 0) {
                €{{money(result.overVpl * (1 - tax.overVpl))}}
            }
        </td>
        <td>
            @if (result.overPerFive > 0) {
                €{{money(result.overPerFive * (1 - tax.overPerFive))}}
            }
        </td>
        <td>
            @if (result.overVw > 0) {
                €{{money(result.overVw * (1 - tax.overVw))}}
            }
        </td>
        <td>
            @if (result.overPlusOne > 0) {
                €{{money(result.overPlusOne * (1 - tax.overPlusOne))}}
            }
        </td>
        <td>
            @if (result.overPlusTwo > 0) {
                €{{money(result.overPlusTwo * (1 - tax.overPlusTwo))}}
            }
        </td>
        <td>
            @if (result.overPlusThree > 0) {
                €{{money(result.overPlusThree * (1 - tax.overPlusThree))}}
            }
        </td>
        <td>
            @if (result.overBuffet > 0) {
                €{{money(result.overBuffet * (1 - tax.overBuffet))}}
            }
        </td>
        <td>{{getResultTotal(result)}}</td>
    </tr>
}
</table>
</div>
